.desktop,
.desktop * {
    box-sizing: border-box;
}

.desktop {
    background: var(--marketingbackground, #ffffff);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow-y: auto;
}

.header {
    flex-shrink: 0;
    width: 600px;
    height: 93px;
    position: relative;
}

.group-4 {
    position: absolute;
    inset: 0;
}

.heading-2-noah-levin {
    cursor: default;
    color: var(--grey-1, #111111);
    text-align: left;
    font-family: var(--title-font-family, "Inter-Regular", sans-serif);
    font-size: var(--title-font-size, 20px);
    line-height: var(--title-line-height, 26px);
    font-weight: var(--title-font-weight, 400);
    position: absolute;
    left: 108px;
    bottom: 64.55px;
    top: 0px;
    width: 399px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profissional-de-vendas-tecnologia-6-anos-de-experi-ncia {
    color: var(--grey-2, #555555);
    text-align: left;
    font-family: var(--body-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 180%);
    font-weight: var(--body-font-weight, 400);
    position: absolute;
    left: 108px;
    bottom: 33.65px;
    top: 32px;
    width: 399px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.component-master {
    display: flex;
    left: 108px;
    bottom: 0px;
    flex-direction: row;
    position: absolute;
    justify-content: flex-start;
}

.component-2 {
    background: var(--grey-4, #f6f6f6);
    border-radius: 12px;
    padding: 1.8px 10px 3px 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    height: 26.26px;
    left: 108px;
    bottom: 0px;
    overflow: hidden;
    margin: 0 10px 0 0px;
}

.link-external {
    transition: all .1s ease-in-out;
}

.link-external:hover {
    cursor: pointer;
    border-bottom: 1.5px solid;
}

.component-2-1 {
    background: var(--grey-4, #f6f6f6);
    border-radius: 12px;
    padding: 1.8px 10px 3px 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    height: 26.26px;
    overflow: hidden;
}

.text {
    color: var(--grey-2, #555555);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image {
    border-radius: 100px;
    width: 92px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    object-fit: cover;
    aspect-ratio: 92/93;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 600px;
    position: relative;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.section {
    padding: 0px 0px 0.69px 0px;
    display: flex;
    flex-direction: column;
    gap: 3.98px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.heading-3-about {
    cursor: default;
    color: var(--grey-1, #111111);
    text-align: left;
    font-family: var(--section-header-font-family, "Inter-Regular", sans-serif);
    font-size: var(--section-header-font-size, 14px);
    line-height: var(--section-header-line-height, 140%);
    font-weight: var(--section-header-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.texto-sobre {
    color: var(--grey-2, #555555);
    text-align: left;
    font-family: var(--body-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 180%);
    font-weight: var(--body-font-weight, 400);
    position: relative;
    width: 600px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.read-more-wrap p {
    margin: 0 0 5px 0px;
}
.read-more-trigger_closed:hover {
    cursor: pointer;
    text-decoration: underline;
}
.read-more-trigger_opened:hover {
    cursor: pointer;
    text-decoration: underline;
}
.read-more-target,
.read-more-trigger_opened {
    display: none;
}

.read-more-state:checked~.read-more-wrap .read-more-target,
.read-more-state:checked~.read-more-trigger_opened {
    display: block;
}

.read-more-state:checked~.read-more-trigger_closed {
    display: none;
}

.work {
    display: flex;
    flex-direction: column;
    gap: 24.7px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.heading-3-work-experience {
    cursor: default;
    color: var(--grey-1, #111111);
    text-align: left;
    font-family: var(--section-header-font-family, "Inter-Regular", sans-serif);
    font-size: var(--section-header-font-size, 14px);
    line-height: var(--section-header-line-height, 140%);
    font-weight: var(--section-header-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.row-item {
    cursor: default;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    transition: all 1s ease-in-out;
}

.pulse-error {
    background: rgb(222, 84, 72);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    box-shadow: 0 0 0 0 rgba(222, 84, 72, 1);
    transform: scale(1);
    animation: pulse-error 2s infinite;
}

.pulse-alert {
    background: #f2ce17;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    box-shadow: 0 0 0 0 #f2ce17;
    transform: scale(1);
    animation: pulse-alert 2s infinite;
}

.not-pulse {
    background: rgb(14, 186, 72);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    box-shadow: 0 0 0 0 rgb(14, 186, 72, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse-error {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 84, 72, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(222, 84, 72, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(222, 84, 72, 0);
    }
}

@keyframes pulse-alert {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #f2cd172c;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px #f2cd1700;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #f2cd1700;
    }
}

.list-rm {
    cursor: default;
}

.row-item-not-it {
    background: aliceblue;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    transition: all .5s ease-in-out;

}

.info-cont-most {
    display: flex;
}

.row-item-not-it {
    border: 2px dotted #6d6d6dbd !important;
    transition: all .5s ease-in-out;
}

.row-item-not-it.selected:hover {
    cursor: pointer;
    background: #f6f6f6 !important;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.date {
    color: #1d0303;
    text-align: left;
    font-family: var(--body-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 180%);
    font-weight: var(--body-font-weight, 400);
    position: relative;
    width: 130px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contents {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 470px;
    position: relative;
}

.contents-more {

    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 470px;
    position: relative;
}

.contents-more .link {
    margin: 0 10px 0px 0;
}

.link {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.line-1-text {
    color: #111111;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    line-height: 180%;
    font-weight: 400;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.open-new-tab-icon {
    flex-shrink: 0;
    width: 14px;
    height: 17px;
    position: relative;
    overflow: visible;
}

.open-new-tab-icon-eye-off {
    margin: 0 0 0 10px;
    width: 15px;
}

.line-2 {
    color: #555555;
    text-align: left;
    font-family: var(--body-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 180%);
    font-weight: var(--body-font-weight, 400);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.image-area {
    padding: 0px 0px 0px 130px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
}

.image2 {
    flex-shrink: 0;
    width: 150px;
    height: 90px;
    position: relative;
}

.image3 {
    border-radius: 8px;
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 1px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
    object-fit: cover;
}

.open-new-tab-icon2 {
    flex-shrink: 0;
    width: 14px;
    height: 17px;
    position: relative;
    overflow: visible;
}

.open-new-tab-icon3 {
    flex-shrink: 0;
    width: 14px;
    height: 17px;
    position: relative;
    overflow: visible;
}

.side-projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.heading-3-side-projects {
    cursor: default;
    color: var(--grey-1, #111111);
    text-align: left;
    font-family: var(--section-header-font-family, "Inter-Regular", sans-serif);
    font-size: var(--section-header-font-size, 14px);
    line-height: var(--section-header-line-height, 140%);
    font-weight: var(--section-header-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.open-new-tab-icon {
    flex-shrink: 0;
    width: 14px;
    height: 17px;
    position: relative;
    overflow: visible;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.heading-3-education {
    cursor: default;
    color: var(--grey-1, #111111);
    text-align: left;
    font-family: var(--section-header-font-family, "Inter-Regular", sans-serif);
    font-size: var(--section-header-font-size, 14px);
    line-height: var(--section-header-line-height, 140%);
    font-weight: var(--section-header-font-weight, 400);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.date2 {
    color: var(--grey-3, #6d6d6d);
    text-align: left;
    font-family: var(--body-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 180%);
    font-weight: var(--body-font-weight, 400);
    position: relative;
    width: 130px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.line-22 {
    color: var(--grey-2, #555555);
    text-align: left;
    font-family: var(--body-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-font-size, 14px);
    line-height: var(--body-line-height, 180%);
    font-weight: var(--body-font-weight, 400);
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.heading-3-contact {
    cursor: default;
    color: var(--grey-1, #111111);
    text-align: left;
    font-family: var(--section-header-font-family, "Inter-Regular", sans-serif);
    font-size: var(--section-header-font-size, 14px);
    line-height: var(--section-header-line-height, 140%);
    font-weight: var(--section-header-font-weight, 400);
    position: relative;
    width: 54.14px;
    height: 22.4px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contact-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}

.open-new-tab-icon8 {
    flex-shrink: 0;
    width: 14px;
    height: 17px;
    position: relative;
    overflow: visible;
}

.open-new-tab-icon9 {
    flex-shrink: 0;
    width: 14px;
    height: 17px;
    position: relative;
    overflow: visible;
}

.open-new-tab-icon10 {
    flex-shrink: 0;
    width: 14px;
    height: 17px;
    position: relative;
    overflow: visible;
}

.line-1-text2 {
    color: #111111;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 14px;
    line-height: 180%;
    font-weight: 400;
    text-decoration: underline;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.open-new-tab-icon11 {
    flex-shrink: 0;
    width: 14px;
    height: 17px;
    position: relative;
    overflow: visible;
}